.project

pom.xml
.DS_Store
**/bin/**/bin
**/gensrc/
**/items.xsd
**/beans.xsd
**/build.xml
**/classes/
**/*-testclasses.xml
**/eclipsebin/*
**/org.sonarlint.eclipse.core.prefs
/.idea
*.iml
**/ruleset.xml
**/Thumbs.db
**/ignore
**/addons/
**/velocity.log
**/addonsrc
**/web/commonwebsrc/

*.class

**/.metadata
**/.settings/*.prefs
!**/.settings/org.eclipse.core.resources.prefs
!**/.settings/org.eclipse.jdt.core.prefs
!**/.settings/org.eclipse.jdt.ui.prefs

